div[type='button']{
    width:100px;
    height:100px;
    background-color:gold;
    cursor:pointer;
}

ul{
    position:relative;
    left:-9999em;
}


div[type='button']:active{

    background-color:red;

};
