html,body{
    margin:0;
    padding:0;
    background-color:maroon;
}


ul{
    left:-9999em;
    position:relative;
}




div[type='button']{
    border-radius:.2em;
    border:.05em solid #dddddd;
    background-color:#ffffff;
    color:#888888;
    
    float:right;
    
    margin-left:.5em;
    margin-right:.5em;
    margin-top:.5em;
    
    padding:.3em;
    
    z-index:1;
    position:relative;
    
    transform:scale(1.3,.9);
    font-size:1em;
}

div[type='button']::before{
    content:'III';
    float:left;
    transform:rotate(90deg);

}

div[type='button']:focus,div[type='button']:hover{
    outline:0;
    background-color:#dddddd;
}

div[type='button']:focus + ul,ul:active,ul:hover,ul:focus{
    left:auto;
    background-color:#ffffff;
    
}

ul:active,ul:hover,ul:focus{
    left:auto;
}