html{
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    
}

body{
    margin:0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{
  display:block;
}

details summary::-webkit-details-marker{     display:none;
}



#menu_button{

      background-color:#ffffff;
      width:22px;
      height:22px;
      box-sizing:border-box;
      text-align:center; 
    border-radius:1px;

      font-family:sans-serif;
      color:#fafafa;

    cursor:pointer;
    
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
}

#menu_icon::before{
    content:'III';
    color:#dddddd
}







@media(max-width: 767px) {
    

}

