html{
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    
}

body{
    margin:0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{
  display:block;
}


body{
    background-color:#7a1501;
}


/*----------------*/
/*DROP DOWN MENU*/
/*---------------*/        

.menu_dropdown::before{

    margin-left:.3em;
    margin-right:.3em;

    float:left;
    position:relative;


    content:'\2303';

    top:-.2em;
    transform: rotate(180deg);


}


.menu_dropdown{
    width:100%;
    height:1.3em;
    background-color:#f9da0c;
    cursor:pointer;
    float:left;

}

.menu_dropdown:hover{
    text-decoration: underline;
}


.menu_dropdown:focus + #cohort_content_class_02{
    display:block;
}
.menu_dropdown:focus + #cohort_content_class_01{
    display:block;
}


#cohort_content_class_01,#cohort_content_class_02{
    display:none;
    text-align:left;
    vertical-align:middle;
    width:100%;
    float:left;

    background-color:#ffffff;
}
/*----------------*/
/*CSS*/
/*---------------*/    



header{
    width:100%;
    background-color:#ffffff;
    
}

button{
    border-radius:.2em;
    border:.05em solid #dddddd;
    background-color:#ffffff;
    color:#888888;
    
    float:right;
    
    margin-left:.5em;
    margin-right:.5em;
    margin-top:.5em;
    
    padding:.3em;
    
    
    transform:scale(1.3,.9);
    font-size:1em;
    
}

button::before{
    content:'III';
    float:left;
    transform:rotate(90deg);

}

button:focus{
    outline:0;
    background-color:#dddddd;
}

button:hover{
    background:#dddddd;
}


nav{
    display:none;
}

button:focus + nav{
    display:block;
    clear:both;
    margin-left:30%;
    margin-right:30%;

    width:auto;
    background-color:#ffffff;

    
}

nav > ul{
    text-align:center;
    list-style-type:none;
}

nav > ul > li{

    padding:1em;
}

nav > ul > li:hover{
    background-color:#f9da0c;
}



#main_geekwise_owl_logo{
    width:100%;
    background-color:grey;
    clear:both;
}


a > img{
   max-width:100%;
   height:auto;
}

/*----------------*/
/*Menu Anchor Navigation*/
/*---------------*/    
nav:hover{
    display:block;
    clear:both;
    margin-left:30%;
    margin-right:30%;
    width:auto;
    background-color:#ffffff;
}




a,a:visited,a:active{
    text-decoration:none;
    color:#000000;
}
